/*body { font-family: sans-serif; margin: 20px; position: relative; }*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.search-box {
    margin-bottom: 15px;
}

input[type="text"] {
    padding: 8px;
    font-size: 22px;
    width: 350px;
}

button {
    padding: 8px 14px;
    font-size: 22px;
    margin-left: 10px;
    cursor: pointer;
}

.results {
    margin-top: 25px;
}

.sentence {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.error {
    color: red;
    margin-top: 15px;
}

.highlight-lt {
    color: olive;
    font-weight: bold;
}

.highlight-ru {
    color: black;
    font-weight: bold;
}

.loading {
    color: #666;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: left; /* centers header */
    position: relative;
    margin-bottom: 5px;
}

.gap { width: 120px; margin: 0 4px; }
.correct { color: green; border-color: green; }
.wrong { color: red; border-color: red; }
.translation { color: #666; font-size: 0.9em; }
.word-static { font-weight: bold; color: #444; }

.notes {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 6px;
}

.note {
    font-size: 26px;
    color: black;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}

.note.small {
    font-size: 12px;
    color: dimgray;
    font-weight: normal;
    margin-top: 4px;
    margin-bottom: 4px;
}

#directionSelect {
    font-size: 13px;
    padding: 3px 3px;
    margin-left: 30px;
}